body,
html {
	scroll-behavior: smooth;
	background-color: #121214;
	-webkit-perspective: 700px;
	-moz-perspective: 700px;
	-ms-perspective: 700px;
	perspective: 700px;
}

.navbar-jstyle {
	min-height: 4rem;
	color: white;
	background-color: #9466ff;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.hgn-btn {
    margin: 2px;
    padding: 5px;
    width: 100px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
    text-decoration: none;
    color: white;
}
.hgn-btn:hover {
    transition: .5s;
    color: black;
    text-decoration: none;
    background: #f7f7f7;
}

.hgn-btn:active {
	top: 2px;
}

.hgn-lg {
	pointer-events: none;
	width: 120px;
}